node_modules/
.idea/
/locklift.config.js
/locklift-custom.config.js
/locklift-v2.config.ts
/locklift-custom.config.ts
migration-log.json
/locklift.migration.json
/.env
/migration-log*.json

# Ignore Mac files
.DS_Store