node_modules/
.idea/
.cache/
.env

/locklift.config.js
/locklift-custom.config.js
/locklift-v2.config.ts
/locklift-custom.config.ts

migration-log.json
locklift.migration.json

deployments/

# Ignore Mac files
.DS_Store

# vuepress v2.x temp directory
.temp

build/*.tvc
build/*.code
build/*.base64
build/*.ts
build/*.map.json